body {

    background-color: black;

}

.flexContenedor {

    display: flex;
    /* background-color: aqua; */

}

.divIzquierdo {

    display: flex;
    width: 50%;
    align-items: center;
    /* background-color: blue; */

}

.divDerecho {

    display: flex;
    width: 50%;
    justify-content: end;
    margin-right: 40px;
    align-items: center;
    /* background-color: brown; */
}

nav > a, .divDerecho > a {

    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;

}

.divFondoImagen {

    background-image: url("../recursos/imagenes/prison_break.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;


}
